<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GreetingDisplayed</key>
	<false/>
	<key>HotkeyCode</key>
	<integer>53</integer>
	<key>HotkeyModifiers</key>
	<integer>768</integer>
	<key>IsLoginItem</key>
	<false/>
</dict>
</plist>
